################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DrawingPackage
/DrawingPackage/obj
/DrawingPackage/bin/Debug/netcoreapp3.1
